  body{
   
  }
  h1{
  	
  	text-align: center;

  }
  h2{
  	
  	text-align: center;

  }
  .contenedor{
  	
 	
 	height: 600px;
 	width: 100%; 	
  }

.buscador
{
	
	
	height: 35%;
	width: 98%;	
	margin: 0 auto 0 auto;
	overflow: auto;	
	border-style: solid;
	border-style:inset;

	
	
}
.reportesAdescargar
{
	
	height: 300PX;
	width: 98%;	
	position: absolute;	
	top: 250px;
	margin: 0 auto 0 auto;
	overflow: auto;
	border-style:inset;


}
.infoSistema
{
	
	height: 10%;
	width: 99%;
	position: absolute;
	bottom: 0px;
	margin: 0 auto 0 auto;
	background-color: black;
	color: white;	
	border-style:inset;


	
	
}
#borrarReportes{
	bottom: 20px;
	right:16px;
	position: absolute;

}
